<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mappers.NoteImageMapper">
    <select id="findByNoteId" resultType="com.example.demo.entity.NoteImageInfo">
        select * from note_images
        where noteId = #{noteId}
    </select>
</mapper>