<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="content-type" content="no-cache, must-revalidate" />
    <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT"/>
    <title>医生审核</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/font-awesome.css" rel="stylesheet"/>
    <link href="css/basic.css" rel="stylesheet"/>
    <link href="css/custom.css" rel="stylesheet"/>
    <link href="css/my.css" rel="stylesheet"/>
    <link href="https://cdn.quilljs.com/1.3.4/quill.snow.css" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.4/quill.bubble.css" rel="stylesheet">
    <link href="css/element/index.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">心理健康科普APP后台管理</a>
        </div>

        <div class="header-right">
            <a href="javascript:void(0)" class="btn btn-info" title="退出登录">
                <i class="fa fa-sign-out fa-2x"></i>
            </a>
        </div>

        <div class="header-right" style="padding-top: 25px">欢迎你</div>

        <div class="header-left">
            <a href="index.html" class="btn btn-info" title="跳转到首页">
                <i class="fa fa-dot-circle-o fa-2x"></i>
            </a>
        </div>
    </nav>
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a href="index.html"><i class="fa fa-dashboard " ></i>系统首页</a>
                </li>
                <li>
                    <a href="addPassage.html"><i class="fa fa-dashboard " ></i>添加文章</a>
                </li>
                <li>
                    <a href="hasSended.html"><i class="fa fa-dashboard " ></i>已发送</a>
                </li>
                <li>
                    <a href="draft.html"><i class="fa fa-dashboard " ></i>草稿箱</a>
                </li>
                <li>
                    <a href="userInfo.html"><i class="fa fa-dashboard " ></i>用户管理</a>
                </li>
                <li>
                    <a href="paperShow.html"><i class="fa fa-dashboard " ></i>问卷管理</a>
                </li>
                <li>
                    <a href="noteShow.html"><i class="fa fa-dashboard " ></i>社区管理</a>
                </li>
                <li>
                    <a class="active-menu" href="checkDoctor.html.html"><i class="fa fa-dashboard " ></i>医生审核</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper">
        <div id="page-inner">
            <!-- /. ROW  -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" style="margin-top: 20px">
                            <thead>
                            <tr>
                                <th>邮箱</th>
                                <th>昵称</th>
                                <th>审核状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(obj,index) in tableData" :key="obj.id">
                                <td>{{obj.id}}</td>
                                <td>{{obj.nickname}}</td>
                                <td>{{obj.status}}</td>
                                <td>
                                    <button id="check" class="btn btn-success btn-xs" @click="init(obj)" style="float: left">去审核</button>
                                    <button id="detail" class="btn btn-danger btn-xs" @click="del(obj.id)" style="float: left">查看</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item" v-bind:class="{ disabled: preActive }">
                                    <a class="page-link" href="javascript:void(0)"
                                       v-on:click="loadTable(pageInfo.pageNum - 1)">上一页</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0)" v-if="pageInfo.pageNum > 1" v-on:click="loadTable(pageInfo.pageNum - 1)">{{pageInfo.pageNum - 1}}</a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" aria-disabled="true" href="javascript:void(0)">{{pageInfo.pageNum}}</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0)" v-if="pageInfo.hasNextPage" v-on:click="loadTable(pageInfo.pageNum + 1)">{{pageInfo.pageNum + 1}}</a>
                                </li>
                                <li class="page-item" v-bind:class="{ disabled: nextActive }">
                                    <a class="page-link" href="javascript:void(0)" v-on:click="loadTable(pageInfo.hasNextPage? (pageInfo.pageNum + 1) : pageInfo.pageNum)">下一页</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="mod">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title">审核医生认证</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <input type="hidden" id="id" name="id" v-model="privacy.id">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">真实姓名</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="privacy.realName" id="realName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">身份证号码</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="privacy.creditId" id="creditId">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">身份证照片</label>
                            <div class="col-sm-7">
                                <el-image
                                        style="width: 150px; height: 200px; float: left;margin-left: 5px"
                                        :src="creditUrl" ></el-image>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-3 control-label">资格证照片</label>
                            <div class="col-sm-7">
                                <el-image
                                        style="width: 150px; height: 200px; float: left;margin-left: 5px"
                                        :src="certifyUrl" ></el-image>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click="fail()">驳回</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="pass()">通过</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 驳回原因Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="mod2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title">驳回原因</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-7">
                                <textarea class="form-control" v-model="reject.reason" placeholder="输入驳回原因" id="reason"></textarea>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="confirm()">通过</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="js/jquery-1.10.2.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.metisMenu.js"></script>
<script src="js/custom.js"></script>
<script src="js/my.js"></script>
<script src="js/vue2.6.11/vue.js"></script>
<script src="js/vue2.6.11/axios.js"></script>
<!--<script src="js/quill.js"></script>-->
<script src="https://cdn.quilljs.com/1.3.4/quill.js"></script>
<script src="https://cdn.quilljs.com/1.3.4/quill.min.js"></script>
<script src="js/element/index.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    function msg(type, msg) {
        Vue.prototype.$message({
            type: type, // success（成功）、warning（警告）, error(错误)
            message: msg,
            duration: 2000,
            offset: 100,
            center: true,
        })
    }

    let wrapper = new Vue({
        el: '#wrapper',
        data: {
            BASE_PATH : 'http://localhost:8081/popmh/',
            creditUrl: '',
            certifyUrl: '',
            doctor: {},
            privacy: {},
            reject:{},
            tableData: [],
            pageInfo: {},
            preActive: true,
            nextActive: true,
            currentPageNum: 0
        },
        created:function () {
            this.currentPageNum=this.getQueryVariable('pageNum');
            this.loadTable(this.currentPageNum);
        },
        methods: {
            getQueryVariable(variable) {
                let query = window.location.search.substring(1);
                let vars = query.split("&");
                for (let i = 0; i < vars.length; i++) {
                    let pair = vars[i].split("=");
                    if (pair[0] === variable) {
                        return pair[1];
                    }
                }
                return '1';
            },
            loadTable(pageNum) {
                let url = "/popmh/person/findDoctor?pageNum="+pageNum;
                axios.get(url).then(res => {
                    if (res.data.code === '0') {
                        this.tableData = res.data.data.list;
                        for(let i=0; i<this.tableData.length; i++){
                            if(this.tableData[i].status === 0){
                                this.tableData[i].status = "未审核"
                                $("#check").hide()
                            } else {
                                this.tableData[i].status = "已审核通过"
                                $("#detail").hide()
                            }
                        }
                        this.pageInfo = res.data.data;
                        this.preActive = !(this.pageInfo.hasPreviousPage);
                        this.nextActive = !(this.pageInfo.hasNextPage);
                    } else {
                        msg('error', res.data.msg);
                    }
                });
            },
            init(obj){
                $('#mod').modal('show');
                this.doctor = JSON.parse(JSON.stringify(obj));
                let id = this.doctor.id;
                let url = "/popmh/doctorPrivacy/findById/" + id;
                axios.get(url).then(res => {
                    if (res.data.code === '0') {
                        this.privacy = JSON.parse(JSON.stringify(res.data.data));
                        // console.log(privacy);
                        // console.log(privacy.realName);
                        $('#realName').val(res.data.data.realName);
                        $('#creditId').val(res.data.data.creditId);
                        this.creditUrl = this.BASE_PATH + "creditCard/" + res.data.data.creditPhoto;
                        this.certifyUrl = this.BASE_PATH + "doctorCertify/" + res.data.data.certification;
                    } else {
                        msg('error', res.data.msg);
                    }
                });
            },
            pass(){
                let id = this.privacy.id;
                axios.put("/popmh/person/check/"+id).then(res =>{
                    if (res.data.code === '0') {
                        msg('success', '认证通过');
                        this.loadTable(this.currentPageNum);
                    } else {
                        msg('error', res.data.msg);
                    }
                })
            },
            fail(){
                $('#mod2').modal('show');
            },
            confirm(){
                let id = this.privacy.id;
                let reason = $('#reason').val();
                $('#mod2').modal('show');
                axios.delete("/popmh/person/reject/"+id+"?reason="+reason).then(res=>{
                    if (res.data.code === '0') {
                        msg('success', '已驳回');
                        this.loadTable(this.currentPageNum);
                    } else {
                        msg('error', res.data.msg);
                    }
                })
            }
        }
    })
</script>

</body>
</html>